<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="wrapper">
        <div id="navbar">
            <h2><a href="/"><img src="/images/teapot.png" alt="" class="logo"> Teapot</a></h2>
            <div class="navelement">
                <a href="/teas">Tea list</a>
            </div>
            <div class="navelement">
                <a href="/types">Tea type list</a>
            </div>
            <br>
            <div class="navelement">
                <a href="/tea/create">Add new tea</a>
            </div>
            <div class="navelement">
                <a href="/type/create">Add new tea type</a>
            </div>
        </div>
        <div id="main">
    

    
