<%- include('header'); %>
<div id="welcome">
  <h1>Welcome to Teapot!</h1>
  <div>
    <h3>Number of teas: <%=tea_count %></h3>
    <h3>Number of tea types: <%=type_count%></h3>
  </div>
</div>
<%- include('footer'); %>