<%- include('header'); %>
<h1>List of all teas:</h1>
<ul>
    <% tea_list.forEach(tea => { %>
        <li><a href=<%- tea.url %>><%-tea.name  %></a></li>
        <br>
       <% }) %>
    
</ul>
<%- include('footer'); %>