<%- include('header'); %>
<h1>List of all tea types:</h1>
<ul>
       <% types.forEach(type => { %>
        <li><a href=<%=type.url%>> <%= type.name %></a></li>
        <br>
       <% }) %>
</ul>
<%- include('footer'); %>