<%- include('header'); %>
<h2>List of all types:</h2>
<ul>
       <% types.forEach(type => { %>
        <li><a href=<%=type.url%>> <%= type.name %></a></li>
        <br>
       <% }) %>
</ul>
<%- include('footer'); %>