:root{
  --nav:#1a4d2e;
  --main: rgba(79, 111, 82,0.5);
  --light:#E8DFCA;
  --font:#F5EFE6;
}
body {
  margin:0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--font);
}
a {
  color: var(--font);
  text-decoration: none;
}
#wrapper{
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;
  backdrop-filter: blur(10px);
}
#navbar{
  background-color: var(--nav);
  border-right: 1px solid white;
}
#navbar>h2>a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo{
  width: 60px;
  height: 60px;
  transition: transform 500ms ease-in-out 0.2s;
}
.navelement{
  border-top: 1px solid var(--light);
  margin: 20px;
  padding-top: 20px;
}
#main{
  padding-top: 50px;
  background-color: var(--main,0.6);
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  margin: 3vw;
  border-radius: 40px;
  backdrop-filter: blur(10px);
}
#welcome{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.formgroup{
  margin: 20px;
}
textarea{
  resize: none;
}
.logo:hover{
  transform: rotate(-25deg);
}
